:root {
    --highlight: #009fb7;
    --focus: #ffeb3b;

    --primary: #ecf1f0;
    --secondary: #2f3233;
    --tertiary: #262a35;
    --quaternary: #e5ebea;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #0e131f;
        --secondary: #ecf1f0;
        --tertiary: #e5ebea;
        --quaternary: #262a35;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
}

body {
    padding: 10px;
    background: var(--primary);
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.8;
    max-width: 60em;
    margin: 0 auto;
}

h1 {
    margin: 0.25em 0 0.5em 0;
}

p {
    font-size: 16pt;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
    font-size: 14pt;
}

a,
a:visited {
    color: var(--highlight);
    border-bottom: 2px solid transparent;
}

a:focus {
    color: #0b0c0c;
    background: var(--focus);
    box-shadow: 0 -2px var(--focus), 0 4px var(--quaternary);
    text-decoration: none;
}

nav,
nav div {
    margin: 0.5em 0.25em 0.25em 0;
    font-size: 16pt;

    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

nav div {
    justify-content: center;
    min-width: 50%;
}

nav div a {
    margin: auto 2% auto 0;
}

@media screen and (max-width: 768px) {
    nav,
    nav div {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    nav div a {
        text-align: center;
        display: block;
    }
}
